/*

The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
Mobile view should appear only if the width of the browser is equal to or less than 767px.
/*
/*No bootstrap, only css*/
/*
Basic ones and desktop version 
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}


a{
    text-decoration: none;
}

.ul-options li{
    text-decoration: none;
    list-style: none;
    margin-left: 25px;
    font-size: 120%;
    width: max-content;
    transition-duration: 1.2s;
    transition-timing-function: 0.8s;
}

.ul-options li:hover{
    transform: scale(125%);
    transition-duration: 0.6s;
    transition-timing-function: 0.2s;

}


body{
    background-color:whitesmoke;
}


#grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.header-title {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    margin: 25px 0 25px 25px;


}


nav{
    grid-column: 2/3;
    position: relative;
    width: 100%;
    left:0;
    text-align: center;
    display: none;
    
}


nav a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0;
    
} 

nav a:hover{
    color: brown;
}

   
header{
    position: sticky; /*these two lines makes the magic about the "fixed" menu bar. 
    as a header it sticks to its parent element, the body and keeps always at top 0.
    */
    top: 0%;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: auto;
    background-color: gray;
    
}

.navbar-toggle:checked ~ nav{
    
    grid-column: 1/4;
    grid-row: 4;
    display: inline;
    list-style-type: none;
    background-color: white;
    text-align: center;
    
} 


.navbar-toggle:checked ~  nav a{
    opacity: 1;

}


.navbar-header h1{
    display: inline-block;
}

.navbar-toggle{
    display: none;
}

.navbar-toggle-label{
    grid-column: 3/4;
    left: 70%;
    position: relative;
    top: 30%; 
    width: 33px;
    height: 20px;
}

.navbar-toggle-label span, 
.navbar-toggle-label span::before,
.navbar-toggle-label span::after{
    
    display: block;
    position: relative;
    width: 33px;
    height: 2px;
    border-radius: 3px;
    background-color: #ffffff;
    transition-duration: 0.3s; /*this transition is shorter looking for a faster response of having the hamburguer menu again*/
}
/*
add content:"" before and after the span founded after the navbar-toggle-label
*/
.navbar-toggle-label span::before,
.navbar-toggle-label span::after{
    content: '';
}

.navbar-toggle-label span::before{
    bottom: 6px; 
}

.navbar-toggle-label span::after{
    top: 6px;
}

/*
Here comes the properties and transformations to do the cross. :Before and :after elements are out of the html structure, so this 
approach locate them as a cross keeping the .ham-slice span as it is.
*/

.navbar-toggle:checked ~ label .ham-slice::before{
    transform: rotate(45deg)translate(5px, 5px);
    transition: transform 0.5s;
}

.navbar-toggle:checked ~ label .ham-slice::after{
    transform: rotate(-45deg) translate(5px, -5px);
    transition: transform 0.5s;
}



/*for each section, a different color is defined. Here combining selectors are used. 
In this case, descendant selector is handy*/
.breakfast-section h2{
    background-color:#c6a700 ;
    color: #000000;
}

.lunch-section h2{
    background-color: #FA7921;
    color: #ffffff;
}

.dinner-section h2{
    background-color: #5f4339;
    color: #ffffff;
}

.beverages-section h2{
    background-color: #5BC0EB;
    color: #ffffff;
}

#link-top{
    font-size: 1.2em;
    
}

#link-top:hover{
    color: darkgreen;
}

/*For this css style, a box-model is used, specifically relative and absolute positions
In order to get the get the requested layout, divs were created and configured to have a relative position and paragraphs 
and other elements with absolute positioning. 
Considering always a parent element configured with relative positioning to have child elements placed
------- ------------
Another layout w/grid, for main sections, menu and second section

*/
#subheader{
    margin-bottom: 12px;   
}

#subtitle-top{
    border: 2px black solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    font-size: 135%;
    right: 0;
    width: max-content;
}

.menu-section{ 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    width: 100%;
    max-height: fit-content;
}
.second-section{
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 3; 
    margin: 10px;
    width: 100%;
}

footer {
    
    bottom: 0%;
    float: left;
    position: relative;
    top: 90px; 
}


/*Below, media queries are set to aim mobile, tablet and desktop screens */

/*
Tablet version =============================================================================================================
*/

@media (min-width: 768px) and (max-width: 991px){


    .breakfast-section{
        border: 3px black solid;
        margin: 20px;
        float: left;
        width: 44%;
        height: 280px;
        overflow-y: auto;
    }
    
    .lunch-section{
        border: 3px black solid;
        margin: 20px;
        float: left;
        left: 48%;
        width: 44%;
        height: 280px;
        overflow-y: auto;
          
    }
    
    .dinner-section{
        border: 3px black solid;        
        float: left;
        margin: 20px;
        width: 93%;
        height: auto;
        overflow-y: auto;
    }
    
    .beverages-section{
        border: 3px black solid;
        float: left;
        margin: 20px;
        width: 93%;
        height: auto;
        overflow-y: auto;
        
    }

}

/*
Desktop version ============================================================================================================
*/

@media (min-width: 992px){

    nav{
        display: contents;
        
        

    }
    nav a{
        font-size: 1.8rem;
        opacity: 1;
    }


    .header-list > li{
        all: unset;
        list-style: none;
        display: contents;
        margin-top: 25px;
        display: inline-block;
        margin-left: 4em;
    }
  
    .breakfast-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px; 
        float: left;
        left: 0%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
    }
    
    .lunch-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px; 
        float: left;
        left: 24%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
          
    }
    
    .dinner-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px; 
        float: left;
        left: 48%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
    }
    
    .beverages-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px;  
        margin-right: 10px;
        float: left;
        left: 72%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
        
    }

  
/* on this media query, the menu list will be hidden as well as in tablet screen size */
    .navbar-toggle-label{
        display: none;        
    }


    footer {
        
        bottom: 0%;
        float: left;
        
    }

}

/*
Mobile version ============================================================================================================
*/
@media (max-width: 767px){
   
    .breakfast-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;
        float: left;
    }
    
    .lunch-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;    
        float: left;      
    }
    
    .dinner-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;
        float: left;
    }
    
    .beverages-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;
        float: left;
    }

    
}