/*
Instructions: 
The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
Mobile view should appear only if the width of the browser is equal to or less than 767px.
/*

/*
Basic ones and desktop version 
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}


a{
    text-decoration: none;
}

li{
    margin-left: 25px;
    font-size: 120%;
    width: max-content;
    transition-duration: 1s;
    transition-timing-function: 0.6s;
    

}

li:hover{
    
    text-decoration: underline;
    text-decoration-color: #FA7921;
    
}

  


body{
    background-color:whitesmoke;
}


#grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}


nav{
    position: absolute;
    /* background: gray; */
    width: 100%;
    margin: -2px;
    left:0;
    top: 50%;
    text-align: center;
    display: none;
}

nav ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    
}

nav li{
    margin-left: 40%;
    text-align: center;
      
}

nav a{
    color: #c6a700;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    color: #c6a700;
}

   
header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: gray;
    display: block;
    
}


header input:checked ~ nav{
    display: inline;
    list-style-type: none;
    background-color: gray;
  

}


.navbar-header h1{
    display: inline-block;
}

.navbar-toggle{
    display: none;
}

.navbar-toggle-label{
    position: absolute;
    
    left: 90%;
    width: 33px;
    height: 100%;

    display: flex;
    align-items: center;
}

.navbar-toggle-label span, 
.navbar-toggle-label span::before,
.navbar-toggle-label span::after{
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;
    
}

.navbar-toggle-label span::before,
.navbar-toggle-label span::after{
    content: '';
}

.navbar-toggle-label span::before{
    bottom: 9px; 
}

.navbar-toggle-label span::after{
    top: 6px;
}

/*for each section, a different color is defined. Here combining selectors are used. 
In this case, descendant selector is handy*/
.breakfast-section h2{
    background-color:#c6a700 ;
    color: #000000;
}

.lunch-section h2{
    background-color: #FA7921;
    color: #ffffff;
}

.dinner-section h2{
    background-color: #5f4339;
    color: #ffffff;
}

.beverages-section h2{
    background-color: #5BC0EB;
    color: #ffffff;
}

/*For this css style, a box-model is used, specifically relative and absolute positions
In order to get the get the requested layout, divs were created and configured to have a relative position and paragraphs 
and other elements with absolute positioning. 
Considering always a parent element configured with relative positioning to have child elements placed
*/
#subheader{
    margin-bottom: 12px;   
}

#subtitle-top{
    border: 2px black solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    font-size: 135%;
    right: 0;
    width: max-content;
}
/* a complete menu section had to be created to wrap all the sub-sections in order push down the layout. 
TODO: Identify a better solution around the sticky/fixed position on the header to avoid overlapping with following sections.
*/
.menu-section{ 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    width: 100%;
    max-height: fit-content;
}
.second-section{
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 3; 
    margin: 10px;
    width: 100%;
}

footer {
    /*some improvement is required to place this footer properly on mobile size  */
    bottom: 0%;
    float: left;
    position: relative;
    top: 90px; /*90 px down one more for each additional section??? Ugly */
}


/*Below, media queries are set to aim mobile, tablet and desktop screens */

/*
Tablet version =============================================================================================================
*/

@media (min-width: 768px) and (max-width: 991px){

    .breakfast-section{
        border: 3px black solid;
        margin: 20px;
        float: left;
        width: 44%;
        height: 280px;
        overflow-y: auto;
    }
    
    .lunch-section{
        border: 3px black solid;
        margin: 20px;
        float: left;
        left: 48%;
        width: 44%;
        height: 280px;
        overflow-y: auto;
          
    }
    
    .dinner-section{
        border: 3px black solid;        
        float: left;
        margin: 20px;
        width: 93%;
        height: auto;
        overflow-y: auto;
    }
    
    .beverages-section{
        border: 3px black solid;
        float: left;
        margin: 20px;
        width: 93%;
        height: auto;
        overflow-y: auto;
        
    }

}

/*
Desktop version ============================================================================================================
*/

@media (min-width: 992px){
  
    .breakfast-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px; 
        float: left;
        left: 0%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
    }
    
    .lunch-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px; 
        float: left;
        left: 24%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
          
    }
    
    .dinner-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px; 
        float: left;
        left: 48%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
    }
    
    .beverages-section{
        border: 3px black solid;
        margin-top: 10px;
        margin-left: 10px;  
        margin-right: 10px;
        float: left;
        left: 72%;
        width: 23%;
        height: 280px;
        overflow-y: auto;
        
    }

  
/* on this media query, the menu list will be hidden as well as in tablet screen size */
    .navbar-toggle{
        display: none;        
    }

    footer {
        /*some improvement is required to place this footer properly on mobile size  */
        bottom: 0%;
        float: left;
        
    }

}

/*
Mobile version ============================================================================================================
*/
@media (max-width: 767px){
   
    .breakfast-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;
        float: left;
    }
    
    .lunch-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;    
        float: left;      
    }
    
    .dinner-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;
        float: left;
    }
    
    .beverages-section{
        border: 3px black solid;
        margin: 20px;
        width: 96%;
        float: left;
    }

    
}

